# 项目配置
PROJECT_NAME=official
DOCKERHUB_USERNAME=boyuanclub
APP_PORT=8080

# 数据库配置
DB_ROOT_PASSWORD=root
DB_NAME=official
DB_USERNAME=root
DB_PASSWORD=root
MYSQL_PORT=3306

# Redis配置
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT配置
JWT_SECRET=)fFQ82L8dU]t3C?.HB^;x,xYm9Y<aK21<|K|o0D6(c!X}8[cUZ_l=&0Y('#/K}n_
JWT_EXPIRATION=86400000

# 邮件服务配置
MAIL_HOST=smtp.feishu.cn
MAIL_PORT=465
MAIL_USERNAME=your-email@example.com
MAIL_PASSWORD=your-email-password

# 短信服务配置
SMS_ACCESS_KEY=your-sms-access-key
SMS_SECRET_KEY=your-sms-secret-key
SMS_TEMPLATE_ID_VERIFICATION=your-sms-template-id
SMS_REGION_ID=your-sms-region-id
