{
  "algorithm": "aes-256-gcm",
  "iv": "uQslNWgDXi77h+Mo",
  "ciphertext": "rnv+Kfn+c8nnN7odyfpSbhOw4ScYLUWtJux8lpbpNdNjWJ14Q6v0gPLrZ/9D6aChIwlnd5fketF6QgmLzOO922cwMtyL0ScV+T21nmi/Ee3GAStfHdBCxRcOjOl25WBgNQ/IlyG1bGHFxv/F3asvs4Bq31gqY7XTf2AbP5zs642XDW6S/PsuX0F94Rbvfbq5qvMe5D/UY3y4UprHJ+B1qTtinqG8XdTy8ALsytpoYidnOlba8s0=",
  "tag": "tRMhAXzNrPtZDPaW7k3gVA=="
}